@keyframes slideInFromSide {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes slideInFromBottom {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
aside {
  animation: slideInFromSide 1.5s;
}

body {
  background-color: white;
  font-family: Helvetica, sans-serif;
}

em {
  visibility: hidden;
}

main {
  padding-left: 10.75rem;
  padding-right: 1rem;
}
main > div {
  animation: slideInFromBottom 0.5s;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 2rem;
  background-color: #6bc247;
  position: fixed;
  height: 100%;
  width: 8%;
  border-radius: 50px 0 0 50px;
}
nav a:hover {
  animation: pulse 1s infinite;
}

#account {
  background-image: url("../images/account.png");
  background-repeat: no-repeat;
  height: 3rem;
  background-position: center;
  background-size: 3rem;
  transition-duration: 300ms;
}
#account:hover {
  background-image: url("../images/account-hover.png");
}

#garden {
  background-image: url("../images/garden.png");
  background-repeat: no-repeat;
  height: 3rem;
  background-position: center;
  background-size: 3rem;
  transition-duration: 300ms;
}
#garden:hover {
  background-image: url("../images/garden-hover.png");
}

#community {
  background-image: url("../images/community.png");
  background-repeat: no-repeat;
  height: 3rem;
  background-position: center;
  background-size: 3rem;
  transition-duration: 300ms;
}
#community:hover {
  background-image: url("../images/community-hover.png");
}

#market {
  background-image: url("../images/marketplace.png");
  background-repeat: no-repeat;
  height: 3rem;
  background-position: center;
  background-size: 3rem;
  transition-duration: 300ms;
}
#market:hover {
  background-image: url("../images/marketplace-hover.png");
}

#robots {
  background-image: url("../images/robot.png");
  background-repeat: no-repeat;
  height: 3rem;
  background-position: center;
  background-size: 3rem;
  transition-duration: 300ms;
}
#robots:hover {
  background-image: url("../images/robot-hover.png");
}

#recipes {
  background-image: url("../images/recipe.png");
  background-repeat: no-repeat;
  height: 3rem;
  background-position: center;
  background-size: 3rem;
  transition-duration: 300ms;
}
#recipes:hover {
  background-image: url("../images/recipe-hover.png");
}

aside {
  background-color: #EAEAEA;
  padding: 2rem;
  border-radius: 40px;
  width: 38%;
  margin-top: 1rem;
}
aside div div {
  display: flex;
}
aside p {
  font-size: 1.25rem;
}
aside p em {
  visibility: visible;
}

div {
  background-color: white;
  border-radius: 40px;
}
div #personal span {
  font-style: italic;
  font-weight: bold;
  color: #6bc247;
  display: flex;
  margin-bottom: 2rem;
}

h1, h4 {
  margin-bottom: 0.5rem;
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  margin-top: 2.5rem;
}

main {
  display: flex;
  justify-content: space-between;
}
main p {
  margin-bottom: 1rem;
  font-size: 1.25rem;
}
main aside div ul {
  padding: 2rem;
  margin-top: 0;
  flex-direction: column;
  font-size: 1.5rem;
  font-weight: bold;
}
main aside div ul li {
  background-image: url("../images/plus.png");
  background-size: 2rem;
  background-repeat: no-repeat;
  background-position: center left;
  padding-left: 3.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
main > div {
  margin-top: 1rem;
  background-color: #EAEAEA;
  padding: 2rem;
  width: 54%;
  height: 100%;
}
main div ul {
  display: flex;
  justify-content: space-between;
  padding-bottom: 4rem;
  margin-top: 5rem;
}

span {
  font-weight: bold;
}

.container-robots-link {
  display: block;
  font-size: 1.25rem;
  font-family: Helvetica, sans-serif;
  border: none;
  font-weight: bold;
  margin-top: 1rem;
  border-radius: 40px;
  width: 95%;
  background-color: black;
  color: white;
  padding: 1rem;
  cursor: pointer;
}
.container-robots-link a {
  text-decoration: none;
  color: white;
}
.container-robots-link a:hover {
  text-decoration: underline;
}

#PREMIUMXL {
  background-color: white;
  width: 11rem;
  padding: 4rem 1rem;
  text-decoration: none;
  color: black;
  border-radius: 40px;
  font-size: 1.25rem;
}
#PREMIUMXL:hover {
  background-color: rgb(120, 120, 120);
}

#FREE {
  width: 11rem;
  padding: 4rem 3.4rem;
  text-decoration: none;
  color: black;
  border-radius: 40px;
  font-size: 1.25rem;
  background-color: white;
}
#FREE:hover {
  background-color: rgb(120, 120, 120);
}

#PREMIUM {
  background-color: white;
  width: 11rem;
  text-decoration: none;
  color: black;
  border-radius: 40px;
  font-size: 1.25rem;
  padding: 4rem 2.36rem;
}
#PREMIUM:hover {
  background-color: rgb(120, 120, 120);
}

#personal {
  height: 23rem;
  padding: 1rem;
}
#personal h2 {
  font-weight: normal;
  font-size: 1.5rem;
}
#personal p {
  font-size: 1.5rem;
}

.price {
  background-image: none;
  font-size: 3rem;
  font-weight: bold;
}
.price span {
  font-weight: normal;
  font-size: 1.75rem;
}

.subscription em {
  visibility: visible;
  font-weight: bold;
}

.tiers .selected {
  border: red solid 0.2rem;
}

/*# sourceMappingURL=index.css.map */
